@font-face {
    font-family: w95fa;
    src: url(fonts/w95fa.woff);
  }

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-image: url(images/backgroundplaceholder.jpg); */
    background-color: #33ffcc;

    user-select: none; /* For Chrome and Opera */
   -ms-user-select: none; /* For Internet Edge and Explorer*/
   -webkit-user-select: none; /* For Safari */
   -moz-user-select: none; /* For Firefox */
   -khtml-user-select: none; /* Konqueror HTML */

    cursor: url(icons/cursor.cur), default;
}
/* width */
::-webkit-scrollbar {
    width: 4vh;
    background-color: #c8c8c8;
    box-shadow: -1vh -1vh 0 #969696,
                1vh 1vh 0 #e6e6e6;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #c8c8c8;
    box-shadow: inset -.5vh -.5vh 0 #e6e6e6,
                inset .5vh .5vh 0 #969696;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c8c8c8;
    box-shadow: inset -.5vh -.5vh 0 #969696,
                inset .5vh .5vh 0 #e6e6e6;
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #33ffcc;
  } */
  /* ::-webkit-scrollbar-button {
    width: 4vh;
    height: 4vh;
    box-shadow: inset -.5vh -.5vh 0 #969696,
                inset .5vh .5vh 0 #e6e6e6;
    background-size: 2vh;
    background-repeat: no-repeat;
    background-position: center;
  }
  ::-webkit-scrollbar-button:hover {
    cursor: url(icons/pointer.cur), default;
  }
  ::-webkit-scrollbar-button:cli {
    cursor: url(icons/pointer.cur), default;
  }
  
    ::-webkit-scrollbar-button:single-button:vertical:decrement {
        background-image: url(icons/up.svg);
    }
    ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
        cursor: url(icons/pointer.cur), default;
    }

    ::-webkit-scrollbar-button:single-button:vertical:increment {
        background-image: url(icons/down.svg);
    }
    ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
        cursor: url(icons/pointer.cur), default;
    } */

h1 {
    font-family: w95fa;
    font-size: 3vh;
    font-weight: 800;
    transform: rotate(-90deg);
    text-align: left;
    position: fixed;
    left: -4.5vh;
    bottom: 14vh;
}
h2 {
    font-family: w95fa;
    font-size: 2.5vh;
    text-align: right;
    padding-top: 3vh;
    padding-right: 4vh;
}
h3 {
    font-family: w95fa;
    font-size: 2vh;
    padding: 1vh;
}
p {
    font-family: w95fa;
    font-size: 2.5vh;
}
ul {
    font-family: w95fa;
    font-size: 2.5vh;
}


.button:hover {
    cursor: url(icons/pointer.cur), default;
}
.selected {
    background-color: #33ffcc;
}
.desktopselected {
    background-color: #f4f4f4;
}

.extrusion {
    box-shadow: inset -.5vh -.5vh 0 #969696,
                inset .5vh .5vh 0 #e6e6e6;
}
.intrusion {
    box-shadow: inset -.5vh -.5vh 0 #e6e6e6,
                inset .5vh .5vh 0 #969696;
}


#disclaimer {
    position: fixed;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background-color: #0b0b0b;
}
#disclaimergrid {
    position: relative;
    width: 30vh;
    display: grid;
    grid-template-rows: 6vh 20vh 6vh;
    grid-row-gap: 3vh;
    margin: auto;
    top: 28vh;
}
#disclaimer h3 {
    position: relative;
    padding: 0 auto 0 auto;
    color: #33ffcc;
    text-align: center;
    font-size: 5vh;
}
#disclaimer ul {
    color: #33ffcc;
    text-align: center;
}
#disclaimer li {
    padding-bottom: 2vh;
}
#entersite {
    border: #33ffcc;
    border-style: solid;
    width: 8vh;
    height: 4.5vh;
    color: #33ffcc;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;
}
#entersite p {
    padding-top: 1vh;
}

#loginscreen {
    position:fixed;
    z-index: 88888;
    background-color: #c8c8c8;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
#profilepicture {
    width: 20vh;
    height: 20vh;
    background-color: #33ffcc;
    /* position: absolute; */
    margin: 20vh auto 0 auto;
}
#username {
    background-color: #f4f4f4;
    width: 20vh;
    height: 4vh;
    margin: 10vh auto 0 auto;
    padding-top: 1vh;
}
#password {
    background-color: #f4f4f4;
    width: 20vh;
    height: 4vh;
    margin: 2vh auto 0 auto;
    padding-top: 1vh;
}
#login {
    background-color: #c8c8c8;
    width: 20vh;
    height: 4vh;
    margin: 2vh auto 0 auto;
    padding-top: 1vh;
}

#start {
    background-color: #c8c8c8;
    width: 5vh;
    height: 5vh;
    position: fixed;
    left: 1.5vh;
    bottom: 1.5vh;
}
#start-icon {
    width: 3.5vh;
    height: 3.5vh;
    padding: .75vh;
}
#start-menu {
    z-index: 99999;
    background-color: #c8c8c8;
    width: 30.5vh;
    height: 41vh;
    position: absolute;
    bottom: 8vh;
    display: none;
}
.start-item {
    width: 24vh;
    height: 8vh;
    float: left;
    /* margin: .5vh; */
}
.start-item:hover {
    cursor: url(icons/pointer.cur), default;
    background-color: #33ffcc;
}
#start-menu-main {
    padding: .5vh .5vh .5vh 0vh;
    /* background-color: #c8c8c8;
    width: 30vh;
    height: 40vh;
    padding: .5vh;
    position: absolute;
    bottom: 6vh; */
    /* display: none; */
    /* z-index: 99999; */
}
#systemname {
    background-color: #33ffcc;
    width: 5.5vh;
    height: 40vh;
    float: left;
    margin: .5vh 0vh .5vh .5vh;
    /* position: fixed;
    bottom: 6.5vh;
    left: .5vh; */
    z-index: 99999;
}
#systemname h1 {
    margin-bottom: 2vh;
}
.start-submenu {
    background-color: #c8c8c8;
    width: 24vh;
    position:absolute;
    left: 30.5vh;
    z-index: 99999;
    padding: .5vh;
}
#games-menu {
    display: none;
    bottom: 32vh;
}
#documents-menu {
    display: none;
    bottom: 24vh;
}
#system-menu {
    display: none;
    bottom: 0vh;
}

#taskbar {
    background-color: #c8c8c8;
    width: 100vw;
    height: 8vh;
    position: fixed;
    bottom: 0vh;
    /* display: none; */
}
#taskbarcontainer {
    background-color: #c8c8c8;
    width: calc(100% - 2vh);
    height: 6vh;
    position: fixed;
    bottom: 0vh;
    margin: 1vh;
    /* display: none; */
}
#tasks {
    width: calc(100vw - 18vh);
    height: 5vh;
    /* background-color: red; */
    left: 5.5vh;
    top: .5vh;
    position: relative;
}
.task {
    display: none;
    height: 5vh;
    /* width: 20vh; */
    position: relative;
    float: left;
}
.task-name {
    padding: 1.25vh 1.5vh;
}

#clock {
    background-color: #c8c8c8;
    width: 12vh;
    height: 5vh;
    position: fixed;
    bottom: 1.5vh;
    right: 1.5vh;
}
#time {
    margin-top: 1.5vh;
    text-align: center;
}
#clockmenu {
    background-color: #c8c8c8;
    width: 30vh;
    height: 40vh;
    position: absolute;
    bottom: 6vh;
    right: 0vw;
    display: none;
}






#window {
    background-color: #c8c8c8;
    width: 100vw;
    height: 92vh;
    position: absolute;
    /* border-bottom: .5vh #c8c8c8; */
    display: none;
}

#window-titlebar {
    background-color: #33ffcc;
    width: calc(100vw - 2vh);
    height: 5vh;
    position: absolute;
    top: 1vh;
    left: 1vh;
}
#window-name {
    /* height: 4vh; */
    padding: 1vh;
    max-width: calc(100vw - 11vh);
    position: absolute;
    top: .5vh;
    left: .5vh;
}
.window-button {
    background-color: #c8c8c8;
    width: 4vh;
    height: 4vh;
    position: absolute;
    top: .5vh;
}
#window-minimize {
    right: 4.5vh;
}
.window-close {
    right: .5vh;
    display: none;
}
.window-button-icon {
    width: 2vh;
    height: 2vh;
    padding: 1vh;
}

#window-content {
    width: calc(100vw - 2vh);
    height: 84.5vh;
    background-color: #f4f4f4;
    position: absolute;
    left: 1vh;
    top: 6.5vh;
}
.window-content-item {
    display: none;
}


#extendedplay2 {
    width: calc(100vw - 3vh);
    height: 83.5vh;
    margin: .5vh 0vh 0vh .5vh;
}
#branding {
    display: none;
}



#file_explorer {
    width: 100%;
    height: 100%;
    background-color: #c8c8c8;
}
#file_explorer-titlebar {
    width: 100%;
    height: 5vh;
    background-color: #c8c8c8;
}
.file_explorer-back {
    display: none;
    background-color: #c8c8c8;
    width: 4vh;
    height: 4vh;
    position: relative;
    float: left;
    margin: .5vh 0vh 0vh .5vh;
}
#file_explorer-path {
    /* background-color: #f4f4f4;
    position: relative;
    float: left;
    height: 4vh;
    width: calc(100vw - 7vh);
    margin: .5vh 0vh 0vh 0vh; */
    background-color: #f4f4f4;
    padding: 1vh;
    width: calc(100% - 7vh);
    position: absolute;
    top: .5vh;
    left: 4.5vh;
}
#file_explorer-content {
    background-color: #f4f4f4;
    height: calc(100% - 5.5vh);
    /* height: 100%; */
    margin-top: .5vh;
}
.file_explorer-content-item {
    display: none;
}
.file_explorer-content-scroll {
    position: relative;
    height: 78vh;
    width: calc(100vw - 3vh);
    top: .5vh;
    left: .5vh;
    overflow: hidden;
    overflow-y: scroll;
}

.file-item {
    position: relative;
    float: left;
    width: 20vh;
    height: 20vh;
    margin: 5vh;
    display: grid;
    grid-template-rows: 15vh 5vh;
}
.file-icon {
    max-width: 10vh;
    max-height: 10vh;
    margin: auto auto auto auto;
}
.file-thumbnail {
    max-width: 18vh;
    max-height: 13vh;
    /* margin-top: 1vh; */
    margin: auto auto auto auto;
}
.file-name {
    text-align: center;
    font-size: 2vh;
    margin: auto auto auto auto;
}
.file-item:hover {
    cursor: url(icons/pointer.cur), default;
}

#file-itemwindow {
    display: none;
    /* z-index: 88888; */
}
.file_explorer-full {
    display: grid;
    position: relative;
    height: 100%;
}
#file_explorer-full-content {
    padding-top: .5vh;
    position: relative;
    display: grid;
    width: 70%;
    height: 100%;
    grid-template-rows: 78vh;
}
.image-full {
    display: none;
    max-width: calc(100% - 1vh);
    max-height: 78vh;
    margin: auto auto auto auto;
}
.embed-full {
    /* display: flex; */
    height: 78vh;
    width: calc(70vw - 2.5vh);
}
#file_explorer-full-details {
    background-color: #c8c8c8;
    position: absolute;
    top: 6vh;
    right: .5vh;
    /* display: grid; */
    width: 30%;
    height: calc(100% - 6.5vh);
}
.detailentry {
    /* width: 90%; */
    margin: 1.5vh 1.5vh .5vh 1.5vh;
    padding: 1vh;
    background-color: #f4f4f4;
    font-family: w95fa;
    font-size: 2.5vh;
}



#account {
    background-color: #c8c8c8;
    position: relative;
    width: calc(100vw - 2vh);
    height: 84.5vh;
    display: grid;
}
#account-grid {
    display: grid;
    margin: 5vh auto auto auto;
    grid-template-columns: 20vw 50vw;
    grid-template-rows: 10vh;
    grid-gap: 1vh;
    text-align: right;
}
#account-profile_picture {
    width: 10vh;
    height: 10vh;
    background-color: #33ffcc;
    margin-left: auto;

}
#account-name {
    text-align: left;
    padding: 0;
    font-size: 5vh;
}
.account-header {
    padding: 1vh;
}
.account-entry {
    background-color: #f4f4f4;
    padding: 1vh;
    text-align: left;
}
a:link {
    color: #bceee1;
    text-decoration: none;
}
a:visited {
    color: #235c4e;
}
a:hover {
    color: #33ffcc;
}
#resumebutton {
    width: 10vh;
    height: 3vh;
    text-align: center;
    padding: 1vh;
    margin: 0 auto 0 auto;
}
#resume {
    background-color: #c8c8c8;
    position: relative;
    width: calc(100vw - 2vh);
    height: 87.5vh;
    /* display: grid; */
}
#resumetitlebar {
    width: 100%;
    height: 5vh;
    background-color: #c8c8c8;
}
.accountback {
    background-color: #c8c8c8;
    width: 4vh;
    height: 4vh;
    position: relative;
    float: left;
    margin: .5vh 0vh 0vh .5vh;
}
#accountpath {
    background-color: #f4f4f4;
    position: relative;
    float: left;
    height: 4vh;
    width: calc(100% - 4.5vh);
    margin: .5vh 0vh 0vh 0vh;
}
#resumecontentarea {
    background-color: #f4f4f4;
    height: calc(100% - 5.5vh);
    margin-top: .5vh;
    display: grid;
    position: relative;
}


#error {
    display: none;
    background-color: #c8c8c8;
    position: fixed;
    width: 30vw;
    height: 20vh;
    left: 35vw;
    top: 40vh;
}
#errortitlebar {
    background-color: #33ffcc;
    position: relative;
    margin: .5vh;
}
#errortext {
    font-size: 2vh;
    text-align: center;
    margin-top: 2vh;
    padding: 1vh;
}
#errorbuttontext {
    font-size: 2vh;
    text-align: center;
    margin-top: 2vh;
    padding: 1vh;
}
#errorbutton {
    text-align: center;
    width: 10vw;
    height: 5vh;
    margin: 2vh 10vw 0vh 10vw;
}
#enteringscreen {
    background-color: #0b0b0b;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 99999;
}
#enteringlogopic {
    width: 6vh;
    height: 6vh;
}


#logout {
    width: 24vh;
    height: 8vh;
    float: left;
}
#loggingscreen {
    background-color: #33ffcc;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 99999;
}
#logginglogo {
    /* background-image: url("images/start.png");
    background-size: 6vh 6vh; */
    
    width: 6vh;
    height: 6vh;
    margin: 47vh auto 0 auto;
}
#logginglogopic {
    width: 6vh;
    height: 6vh;
}