@font-face {
    font-family: w95fa;
    src: url(fonts/w95fa.woff);
  }

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-image: url(images/backgroundplaceholder.jpg); */
    background-color: #33ffcc;

    user-select: none; /* For Chrome and Opera */
   -ms-user-select: none; /* For Internet Edge and Explorer*/
   -webkit-user-select: none; /* For Safari */
   -moz-user-select: none; /* For Firefox */
   -khtml-user-select: none; /* Konqueror HTML */

    cursor: url(icons/cursor.cur), default;
}
h1 {
    font-family: w95fa;
    font-size: 3vh;
    font-weight: 800;
    transform: rotate(-90deg);
    text-align: left;
    position: fixed;
    left: -4.5vh;
    bottom: 14vh;
}
h2 {
    font-family: w95fa;
    font-size: 2.5vh;
    text-align: right;
    padding-top: 3vh;
    padding-right: 4vh;
}
h3 {
    font-family: w95fa;
    font-size: 2vh;
    padding: 1vh;
}
p {
    font-family: w95fa;
    font-size: 2.5vh;
}


.button:hover {
    cursor: url(icons/pointer.cur), default;
}
.startmenuitem:hover {
    cursor: url(icons/pointer.cur), default;
    background-color: #33ffcc;
}
.extrusion {
    box-shadow: inset -.5vh -.5vh 0 rgba(170,170,170,1),
                inset .5vh .5vh 0 rgba(240,240,240,1);
}
.intrusion {
    box-shadow: inset -.5vh -.5vh 0 rgba(240,240,240,1),
                inset .5vh .5vh 0 rgba(170,170,170,1);
}
.startmenuitem {
    width: 24vh;
    height: 8vh;
    float: left;
    /* margin: .5vh; */
}

#loginscreen {
    position:fixed;
    background-color: lightgrey;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
#profilepicture {
    width: 20vh;
    height: 20vh;
    background-color: #33ffcc;
    /* position: absolute; */
    
    margin: 20vh auto 0 auto;

}
#username {
    background-color: white;
    width: 20vh;
    height: 4vh;
    margin: 10vh auto 0 auto;
    padding-top: 1vh;
}
#password {
    background-color: white;
    width: 20vh;
    height: 4vh;
    margin: 2vh auto 0 auto;
    padding-top: 1vh;
}
#login {
    background-color: lightgrey;
    width: 20vh;
    height: 4vh;
    margin: 2vh auto 0 auto;
    padding-top: 1vh;
}

#taskbar {
    background-color: lightgrey;
    width: 100vw;
    height: 6vh;
    position: fixed;
    bottom: 0vh;
    /* display: none; */
}
#tasks {
    width: calc(100vw - 18vh);
    height: 5vh;
    /* background-color: red; */
    left: 5.5vh;
    top: .5vh;
    position: relative;
}
.taskbaritem {
    display: none;
    height: 5vh;
    /* width: 20vh; */
    position: relative;
    float: left;
}
.taskbartext {
    padding: 1.25vh 1.5vh;
}
#start {
    background-color: lightgrey;
    width: 5vh;
    height: 5vh;
    position: fixed;
    left: .5vh;
    bottom: .5vh;
}
#starticon {
    width: 3.5vh;
    height: 3.5vh;
    padding: .75vh;
}

#startmenu {
    z-index: 99999;
    background-color: lightgrey;
    width: 30.5vh;
    height: 41vh;
    position: absolute;
    bottom: 6vh;
    display: none;
}
#mainmenu {
    padding: .5vh .5vh .5vh 0vh;
    /* background-color: lightgrey;
    width: 30vh;
    height: 40vh;
    padding: .5vh;
    position: absolute;
    bottom: 6vh; */
    /* display: none; */
    /* z-index: 99999; */
}
#systemname {
    background-color: #33ffcc;
    width: 5.5vh;
    height: 40vh;
    float: left;
    margin: .5vh 0vh .5vh .5vh;
    /* position: fixed;
    bottom: 6.5vh;
    left: .5vh; */
    z-index: 99999;
}
.submenu {
    background-color: lightgrey;
    width: 24vh;
    position:absolute;
    left: 30vh;
    z-index: 99999;
    padding: .5vh;
}
#systemsubmenu {
    display: none;
    bottom: 0vh;
}
#documentssubmenu {
    display: none;
    bottom: 24vh;
}
#gamessubmenu {
    display: none;
    bottom: 32vh;
}

#clock {
    background-color: lightgrey;
    width: 12vh;
    height: 5vh;
    position: fixed;
    bottom: .5vh;
    right: .5vh;
}
#time {
    margin-top: 1.5vh;
    text-align: center;
}
#clockmenu {
    background-color: lightgrey;
    width: 30vh;
    height: 40vh;
    position: absolute;
    bottom: 6vh;
    right: 0vw;
    display: none;
}



.selected {
    background-color: #33ffcc;
}


.window {
    background-color: lightgrey;
    width: 100vw;
    height: 94vh;
    position: absolute;
}
.titlebar {
    background-color: #33ffcc;
    width: 100vw;
    height: 5vh;
    position: absolute;
}
.windowtitle {
    height: 4vh;
    max-width: 20vw;
    position: absolute;
    top: .5vh;
    left: .5vh;
}
.minimizewindow {
    background-color: lightgrey;
    width: 4vh;
    height: 4vh;
    position: absolute;
    top: .5vh;
    right: 4.5vh;
}
.closewindow {
    background-color: lightgrey;
    width: 4vh;
    height: 4vh;
    position: absolute;
    top: .5vh;
    right: .5vh;
    display: none;
}
.windowbuttonicon {
    width: 2vh;
    height: 2vh;
    padding: 1vh;
}
.windowcontentarea {
    width: calc(100vw - 2vh);
    height: 87.5vh;
    background-color: white;
    position: absolute;
    left: 1vh;
    top: 5.5vh;
}
#mainwindow {
    display: none;
}
.mainwindowitem {
    display: none;
}


#extendedplay2 {
    width: calc(100vw - 2vh);
    height: 87.5vh;
}
#branding {
    display: none;
}



#fileexplorer {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}
#fileexplorertitlebar {
    width: 100%;
    height: 5vh;
    background-color: lightgrey;
}
.fileexplorerback {
    display: none;
    background-color: lightgrey;
    width: 4vh;
    height: 4vh;
    position: relative;
    float: left;
    margin: .5vh 0vh 0vh .5vh;
}
#fileexplorerpath {
    background-color: white;
    position: relative;
    float: left;
    height: 4vh;
    width: calc(100% - 4.5vh);
    margin: .5vh 0vh 0vh 0vh;
}
#fileexplorercontentarea {
    background-color: white;
    height: calc(100% - 5.5vh);
    margin-top: .5vh;
}
.fileexplorerwindowitem {
    display: none;
}

.fileitem {
    position: relative;
    float: left;
    width: 20vh;
    height: 20vh;
    margin: 5vh;
    display: grid;
    grid-template-rows: 15vh 5vh;
}
.folderthumbnail {
    max-width: 10vh;
    max-height: 10vh;
    margin: auto auto auto auto;
}
.imagethumbnail {
    max-width: 18vh;
    max-height: 13vh;
    /* margin-top: 1vh; */
    margin: auto auto auto auto;
}
.fileitemname {
    text-align: center;
    font-size: 2vh;
    margin: auto auto auto auto;
}
.fileitem:hover {
    cursor: url(icons/pointer.cur), default;
}

#fileitemwindow {
    display: none;
    /* z-index: 88888; */
}
.fileexplorerwindowfull {
    display: grid;
    position: relative;
}
.imagefull {
    display: none;
    max-width: calc(100vw - 3vh);
    max-height: 81vh;
    margin: .5vh auto .5vh auto;
}
.embedfull {
    /* display: flex; */
    height: 81vh;
    width: calc(100vw - 3vh);
}



#account {
    background-color: lightgrey;
    position: relative;
    width: calc(100vw - 2vh);
    height: 87.5vh;
    display: grid;
}
#accountgrid {
    display: grid;
    margin: 5vh auto auto auto;
    grid-template-columns: 20vw 50vw;
    grid-template-rows: 10vh;
    grid-gap: 1vh;
    text-align: right;
}
#accountprofilepicture {
    width: 10vh;
    height: 10vh;
    background-color: #33ffcc;
    margin-left: auto;

}
#accountname {
    text-align: left;
    padding: 0;
    font-size: 5vh;
}
.accountparagraph {
    padding: 1vh;
}
.accountentry {
    background-color: white;
    padding: 1vh;
    text-align: left;
}
a:link {
    color: #bceee1;
    text-decoration: none;
}
a:visited {
    color: #235c4e;
}
a:hover {
    color: #33ffcc;
}
#resumebutton {
    width: 10vh;
    height: 3vh;
    text-align: center;
    padding: 1vh;
    margin: 0 auto 0 auto;
}
#resume {
    background-color: lightgrey;
    position: relative;
    width: calc(100vw - 2vh);
    height: 87.5vh;
    /* display: grid; */
}
#resumetitlebar {
    width: 100%;
    height: 5vh;
    background-color: lightgrey;
}
.accountback {
    background-color: lightgrey;
    width: 4vh;
    height: 4vh;
    position: relative;
    float: left;
    margin: .5vh 0vh 0vh .5vh;
}
#accountpath {
    background-color: white;
    position: relative;
    float: left;
    height: 4vh;
    width: calc(100% - 4.5vh);
    margin: .5vh 0vh 0vh 0vh;
}
#resumecontentarea {
    background-color: white;
    height: calc(100% - 5.5vh);
    margin-top: .5vh;
    display: grid;
    position: relative;
}


#error {
    display: none;
    background-color: lightgrey;
    position: fixed;
    width: 30vw;
    height: 20vh;
    left: 35vw;
    top: 40vh;
}
#errortitlebar {
    background-color: #33ffcc;
    position: relative;
    margin: .5vh;
}
#errortext {
    font-size: 2vh;
    text-align: center;
    margin-top: 2vh;
    padding: 1vh;
}
#errorbuttontext {
    font-size: 2vh;
    text-align: center;
    margin-top: 2vh;
    padding: 1vh;
}
#errorbutton {
    text-align: center;
    width: 10vw;
    height: 5vh;
    margin: 2vh 10vw 0vh 10vw;
}


#logout {
    width: 24vh;
    height: 8vh;
    float: left;
}
#loggingscreen {
    background-color: #33ffcc;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
}
#logginglogo {
    /* background-image: url("images/start.png");
    background-size: 6vh 6vh; */
    
    width: 6vh;
    height: 6vh;
    margin: 47vh auto 0 auto;
}
#logginglogopic {
    width: 6vh;
    height: 6vh;
}